---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Events from '../components/Events.astro';
import Courses from '../components/Courses.astro';
import Blog from '../components/Blog.astro';
---

<Layout title="Rafael Cristo. Coach y terapeuta biomocional.">
	<header>
	</header>
	<main>
		<Hero />
		<About />
		<Events />
		<Courses />
		<Blog />
	</main>
</Layout>
