<section id="blog" class="flex flex-col px-4 lg:px-24 py-12">
    <div class="flex flex-col gap-2">
        <h2 class="text-4xl lg:text-6xl font-bold text-gray-900 uppercase">Últimos Artículos</h2>
        <blockquote class="text-xl italic font-semibold text-gray-900">
            <img src="/icons/quote.svg" alt="Quote icon" class="w-4">
            <p>Accede a nuestras últimas entradas de blog, y mantente a día con nuestras publicaciones</p>
        </blockquote>
    </div>

    <div class="flex flex-col lg:flex-row gap-5 py-4 lg:py-12">

        <div class="flex flex-col border-4 border-sky-400 rounded-2xl p-5 gap-3">
            <img src="https://res.cloudinary.com/dlwhh53by/image/upload/v1706248656/rafa/k1d1utg6cxs1ftb85qrz.png" alt="" class="rounded-lg hover:scale-110 transition-transform duration-400">
            <p>Superando la ansiedad y el estrés en el entorno universitario.</p>
            <button class="bg-sky-400 py-2 w-full text-center text-white font-bold text-xl rounded-xl">Ver mas ...</button>
        </div>

        <div class="flex flex-col border-4 border-sky-400 rounded-2xl p-5 gap-3">
            <img src="https://res.cloudinary.com/dlwhh53by/image/upload/v1706248656/rafa/k1d1utg6cxs1ftb85qrz.png" alt="" class="rounded-lg hover:scale-110 transition-transform duration-400">
            <p>Superando la ansiedad y el estrés en el entorno universitario.</p>
            <button class="bg-sky-400 py-2 w-full text-center text-white font-bold text-xl rounded-xl">Ver mas ...</button>
        </div>

        <div class="flex flex-col border-4 border-sky-400 rounded-2xl p-5 gap-3">
            <img src="https://res.cloudinary.com/dlwhh53by/image/upload/v1706248656/rafa/k1d1utg6cxs1ftb85qrz.png" alt="" class="rounded-lg hover:scale-110 transition-transform duration-400">
            <p>Superando la ansiedad y el estrés en el entorno universitario.</p>
            <button class="bg-sky-400 py-2 w-full text-center text-white font-bold text-xl rounded-xl">Ver mas ...</button>
        </div>

    </div>
</section>