<section id="courses" class="flex flex-col px-4 lg:px-24 py-12">
    <div class="flex flex-col gap-2">
        <h2 class="text-4xl lg:text-6xl font-bold text-gray-900 uppercase">Cursos de formación</h2>
        <blockquote class="text-xl italic font-semibold text-gray-900">
            <img src="/icons/quote.svg" alt="Quote icon" class="w-4">
            <p>Contamos con cursos especializados enfocados en tu crecimiento personal</p>
        </blockquote>
    </div>
    <div class="flex flex-col lg:px-44 gap-4">

        <div class="flex flex-col lg:flex-row gap-4">
            <div class="flex flex-col bg-gradient-to-t from-sky-400 to-transparent p-4 rounded-2xl">
                <div class="flex flex-col">
                    <img src="https://res.cloudinary.com/dlwhh53by/image/upload/v1706248654/rafa/fo9tnlp0vzmy8m3ruq7w.png" alt="" class="hover:scale-110 transition-transform duration-400">
                    <p class="bg-black/30 text-white py-4 -mt-12 lg:-mt-24 backdrop-blur-sm font-semibold text-lg pl-4">Claves para el bienestar emocional</p>
                </div>
                <button class="text-center py-4 lg:mt-8 text-2xl text-white font-bold">Acceder</button>
            </div>
            <div class="flex flex-col bg-gradient-to-t from-sky-400 to-transparent p-4 rounded-2xl">
                <div class="flex flex-col">
                    <img src="https://res.cloudinary.com/dlwhh53by/image/upload/v1706248654/rafa/fo9tnlp0vzmy8m3ruq7w.png" alt="" class="hover:scale-110 transition-transform duration-400">
                    <p class="bg-black/30 text-white py-4 -mt-12 lg:-mt-24 backdrop-blur-sm font-semibold text-lg pl-4">Claves para el bienestar emocional</p>
                </div>
                <button class="text-center py-4 text-2xl text-white font-bold">Acceder</button>
            </div>
        </div>

        <div class="flex flex-col lg:flex-row gap-4">
            <div class="flex flex-col bg-gradient-to-t from-sky-400 to-transparent p-4 rounded-2xl">
                <div class="flex flex-col">
                    <img src="https://res.cloudinary.com/dlwhh53by/image/upload/v1706248654/rafa/fo9tnlp0vzmy8m3ruq7w.png" alt="" class="hover:scale-110 transition-transform duration-400">
                    <p class="bg-black/30 text-white py-4 -mt-12 lg:-mt-24 backdrop-blur-sm font-semibold text-lg pl-4">Claves para el bienestar emocional</p>
                </div>
                <button class="text-center py-4 text-2xl text-white font-bold">Acceder</button>
            </div>
            <div class="flex flex-col bg-gradient-to-t from-sky-400 to-transparent p-4 rounded-2xl">
                <div class="flex flex-col">
                    <img src="https://res.cloudinary.com/dlwhh53by/image/upload/v1706248654/rafa/fo9tnlp0vzmy8m3ruq7w.png" alt="" class="hover:scale-110 transition-transform duration-400">
                    <p class="bg-black/30 text-white py-4 -mt-12 lg:-mt-24 backdrop-blur-sm font-semibold text-lg pl-4">Claves para el bienestar emocional</p>
                </div>
                <button class="text-center py-4 text-2xl text-white font-bold">Acceder</button>
            </div>
        </div>

    </div>
</section>