<footer class="flex flex-col py-8 bg-sky-100">
    <div class="flex justify-around">
        <div class="flex flex-col gap-8 items-center">
            <img src="https://res.cloudinary.com/dlwhh53by/image/upload/v1706248655/rafa/d7pwpzev4fnk8t17uqtj.png" alt="Rafael Cristo Logo" class="w-20">
        </div>
        <ul class="flex flex-col gap-3">
            <li>
                <a href="#hero" class="font-bold text-2xl text-sky-950">Inicio</a>
            </li>
            <li>
                <a href="#about" class="font-bold text-2xl text-sky-950">Sobre mi</a>
            </li>
            <li>
                <a href="#courses" class="font-bold text-2xl text-sky-950">Cursos</a>
            </li>
        </ul>
        <ul class="flex flex-col gap-3">
            <li>
                <a href="#blog" class="font-bold text-2xl text-sky-950">Blog</a>
            </li>
            <li>
                <a href="#store" class="font-bold text-2xl text-sky-950">Tienda</a>
            </li>
            <li>
                <a href="#contact" class="font-bold text-2xl text-sky-950">Contacto</a>
            </li>
        </ul>
    </div>
    <div class="flex gap-3 justify-center pt-4">
        <div class="flex gap-5">
            <img src="/icons/social/youtube.svg" alt="Youtube Icon - Rafael Cristo" class="w-6">
            <img src="/icons/social/instagram.svg" alt="Instagram Icon - Rafael Cristo" class="w-6">
            <img src="/icons/social/facebook.svg" alt="Facebook Icon - Rafael Cristo" class="w-6">
        </div>
        <p class="text-end" class="font-bold text-lg text-sky-950">
            &copy Rafael Cristo 2024
        </p>
    </div>
</footer>